- var version = '1.0.2'

doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title UpperHand
    meta(name="description" content="囲碁に似た雰囲気の陣とりゲーム")

    meta(name="twitter:card" content="summary")
    meta(property="og:title" content="UpperHand")
    meta(property="og:description" content="囲碁に似た雰囲気の陣とりゲーム")
    meta(property="og:image" content="https://kobalab.net/upperhand/game.png")

    link(rel="icon" type="image/png" href="icon.png")
    link(rel="apple-touch-icon" type="image/png" href="icon.png")
    link(rel="stylesheet" type="text/css" href=`upperhand-${version}.css`)
    script(src=`upperhand-${version}.js` defer)

  body
    h1
      img(src="icon.png")
      |  UpperHand
      span.version ver.#{version}
    include navi
    #board
      .board
      .score
        span(data-status="1")
        span(data-status="2")
    include pref
    include rule
    
