#rule
  h2 ルール
  ol
    li 
      | 先手は 
      img(src="ball1.png" alt="白玉" height="16")
      | 、後手は 
      img(src="ball2.png" alt="青玉" height="16")
      |  を27個ずつもっています(5路盤の場合)。
    li
      | 初期状態では中立の玉 
      img(src="ball0.png" alt="水色" height="16")
      |  が盤中央に置かれています。
    li
      | プレイヤーは交互に自分の玉を盤上に置いていきます。 
      | 玉を置くことができるのは、5×5の盤上か、
      | 4つの玉で作られる正方形の中央のいずれかです。
      br
      img(src="rule1.png" alt="盤上" height="80")
      img(src="rule2.png" alt="正方形の中央" height="80" style="margin-left:40px")
    li
      | 玉を置いたとき、その玉を含む4つの玉で新たに正方形ができて、
      | 4つの玉のうちどちらかのプレイヤーの玉が3つ以上あるときには、
      | その上にそのプレイヤーの玉がボーナスとして置かれます。
      | ボーナス玉によってさらに正方形ができた場合には、
      | 同様にボーナスの判定を行います。
      | 手番はすべてのボーナス玉を置き終えたときに完了します。
      br
      img(src="rule3.png" alt="ボーナス" height="120")
    li
      | 先に自分の玉を使い切ったプレイヤーが勝者となります。
      | 同時に使い終えたとき(盤上にピラミッドが完成したとき)は引分けです。
  form
    input(type="reset" value="閉じる")
